KAFKA_BROKER=kafka:29092
TOTAL_NODES=3
TRANSACTIONS_TOPIC=transactions
MINING_JOBS_TOPIC=mining_jobs
FOUND_BLOCKS_TOPIC=found_blocks
BATCH_SIZE=3
MINING_TIMEOUT_SECONDS=20
JITTER_MAX_SECONDS=2
DIFFICULTY=4
CANDIDATES=Alice,Bob,Carol
